/* styles.css */

/* Form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  /* Form labels */
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  /* Form inputs */
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus,
  .form-textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Validation errors */
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Submit button */
  .form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
    background-color: #faa935;
  }
  .contact{
    text-align: center;
    font-size: 30px;
  }
  /* Success message */
  .success-message {
    color: #28a745;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  